@font-face {
    font-family: 'PoetsenOne';
    src: url(../webfonts/PoetsenOne-Regular.ttf);
}

div.mnWrap{
    overflow: hidden;
    main{
        position: relative;
        height: 90vh;
        h1{
            margin: 0;
            padding: 0;
            pointer-events: none;
            white-space: nowrap;
            z-index: 9;
            font-family: 'PoetsenOne';
            position: absolute;
            top: 50%;
            left: 22%;
            font-size: 100px;
            color: #fff;
            line-height: 120px;
        }
        .background-image{
            width: 110%;
            height: 110%;
            position: absolute;
            background-image: url('../img/main_bi3.jpg');
            background-position: center;
            background-size: cover;
        }
    }
    
}

div.enTer{
    width: 90%; max-width: 1080px;
    margin: 0 auto;
    padding: 160px 0;
    position: relative;
    h2{
        font-size: 48px;
        margin-left: 10px;
    }
    h2{
        font-family: 'PoetsenOne';
        font-weight: 700;
        text-transform: uppercase;
    }
    section{
        overflow: hidden;
        margin-top: 40px;
        .artsGroup{
            width: 200%;
            display: flex;
            justify-content: space-around;
            .article{
                width: calc(100% / 6 - 20px);
                .image{
                    height: 300px;
                    background-color: #999;
                    background-position: top;
                    background-size: cover;
                }
                .i1{
                    background-image: url(https://smcdn.smtown.com/file/star/201712/star_5a38b2a89bb15.jpg);
                }
                .i2{
                    background-image: url(https://smcdn.smtown.com/file/star/201712/star_5a38b2d08cdbf.jpg);
                }
                .i3{
                    background-image: url(https://smcdn.smtown.com/file/star/201712/star_5a38b2edd3093.jpg);
                }
                .i4{
                    background-image: url(https://smcdn.smtown.com/file/star/202109/star_6130719c1d1f3.jpg);
                }
                .i5{
                    background-image: url(https://smcdn.smtown.com/file/star/202012/star_5fd88e292cc4a.jpg);
                }
                .i6{
                    background-image: url(https://smcdn.smtown.com/file/star/202002/star_5e421583d48e7.jpg);
                }
                .text{
                    text-align: left;
                    opacity: 0;
                    height: 100%;
                    padding: 40px;
                    dl{
                        text-align: center;
                        margin-top: 20px;
                        dt{
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 40px;
                        }
                    }
                }
                .text:hover{
                    text-align-last: left;
                    opacity: 1;
                    color: #fff;
                    background-color: rgba(0,0,0,0.7);
                }
                h3{
                    font-size: 24px;
                    text-align: center;
                    margin-top: 20px;
                }
            }
        }        
    }
    .btn{
        width: calc(100% + 160px);
        height: 40px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        margin: auto;
        top: 0; bottom: 0;
        left: -80px;
        button{
            width: 80px; height: 80px; border: 0;
            background-color: transparent;
            font-size: 36px;
            color: #000;
        }
    }
}

div.singwrap{
    padding: 160px 0;
    background-color: #fcc;
    .sing{
        width: 90%; max-width: 1080px;
        margin: 0 auto;
        h2{
            font-size: 48px;
            margin-left: 10px;
        }
        h2{
            font-family: 'PoetsenOne';
            font-weight: 700;
            text-transform: uppercase;
        }
        section{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 40px;
            .artGroup{
                width: calc(100% / 3 - 20px);
                display: flex;
                flex-wrap: wrap;
                row-gap: 40px;
                article{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    height: 120px;
                    transition: 0.5s;
                    .img{
                        width: 80px; height: 80px;
                        border-radius: 50px;
                        background-color: #999;
                        background-position: center;
                        background-size: cover;
                    }
                    .i1{background-image: url(https://smcdn.smtown.com/file/star/202107/star_60e4061d96d33.jpg);}
                    .i2{background-image: url(https://smcdn.smtown.com/file/star/202201/star_61e0e4cd33c52.jpg);}
                    .i3{background-image: url(https://smcdn.smtown.com/file/star/202109/star_614c406660b49.jpg);}
                    .i4{background-image: url(https://smcdn.smtown.com/file/star/202103/star_604b2af9be5ff.jpg);}
                    .i5{background-image: url(https://smcdn.smtown.com/file/star/202110/star_616687026b79e.jpg);}
                    .i6{background-image: url(https://smcdn.smtown.com/file/star/202112/star_61a728b212c72.jpg);}
                    .texts{
                        width: calc(100% - 100px);
                        h4{
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 40px;
                        }
                        p{
                            height: 40px;
                            font-size: 14px;
                        }
                    }                
                }
                &.rtl{
                    article{
                        flex-direction: row-reverse;
                        text-align: right;
                    }
                }
                .clicked{
                    background-color: rgb(204, 124, 124);
                    color: #fff;
                }
            }
            .imgView{
                width: calc(100% / 2 - 20px);
                height: 440px;
                box-shadow: 0 3px 7px rgba(0,0,0,0.3);
                background-image: url(../img/sing_ty.jpg);
                background-position: center;
                background-size: cover;
                transition: 0.5s;
            }
        }
    }
}


div.actwrap{
    padding: 160px 0;
    background-color: #000;
    div.actors{
        width: 90%; max-width: 1080px;
        margin: 0 auto;
        color: #fff;
        h2{
            font-size: 48px;
            margin-left: 10px;
        }
        h2{
            font-family: 'PoetsenOne';
            font-weight: 700;
            text-transform: uppercase;
        }
        section{
            display: flex;
            justify-content: space-around;
            margin-top: 40px;
            .imgView{
                width: calc(66.66% - 20px);
                background-color: #999;
                background-image: url(../img/act1.jpg);
                background-position: center;
                background-size: cover;
                height: 700px;
            }
            article{
                width: calc(33.33% - 20px);
                h4{
                    font-weight: 700;
                }
                ul{
                    display: block;
                    li{
                        padding: 20px 0;
                        &:first-of-type{
                            p{display: block;}
                        }
                    }
                    h5{
                        font-size: 18px; line-height: 40px; font-weight: 700; color: #fff;
                        cursor: pointer;
                    }
                    p{
                        font-size: 14px; line-height: 20px;
                        font-weight: 300; color: #ccc; height: 100px;
                        margin-top: 20px;
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:950px){
    div.enTer{
        .btn{
            width: calc(100% + 120px);
            left: -60px;
        }
    }
    div.sing{
        section{
            .artGroup{
                article{
                    .texts{
                        height: 120px;
                    }
                }
            }
            .imgView{
                width: 40%;
            }
        }
    }
}
@media screen and (max-width:850px){
    div.sing{
        section{
            .artGroup{
                article{
                    .texts{
                        p{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:420px){
    div.mnWrap{
        main{
            h1{
                font-size: 60px;
                left: 10%;
                top: 60%;
            }
        }
    }
    div.enTer{
        section{
            .artsGroup{
                width: 300%;
                .article{
                    width: calc(50% - 20px);
                    margin: 0 5px;
                    .image{
                        height: 200px;
                        .text{
                            padding: 10px;
                            font-size: 10px;
                            dl{
                                margin-top: 10px;
                                dd{
                                    font-size: 8px;;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
        .btn{
            width: 60%;
            left: 0px;
            position: inherit;
            margin-top: 10px;
            button{
                font-size: 20px;
                padding: 10px;
                width: 40px;
                height: 40px;
            }
        }
    }
    div.singwrap{
        div.sing{
            section{
                display: block;
                .artGroup{
                    display: flex;
                    width: 100%;
                    article{
                        display: flex;
                        justify-content: space-between;
                        width: calc(30% - 20px);
                        margin: 0 auto;
                        .texts{
                            display: none;
                        }
                    }
                    .clicked{
                        background-color: transparent;
                    }
                    &.rtl{
                        article{
                            flex-direction: inherit;
                            margin-top: 40px;
                        }
                    }
                }
                .imgView{
                    width: 100%;
                    height: 360px;
                }
                
            }
        }
    }
    
    div.actwrap{
        div.actors{
            section{
                display: block;
                .imgView{
                    width: 100%;
                    height: 360px;
                }
                article{
                    width: 100%;
                    margin-top: 20px;
                    ul{
                        li{
                            padding: 5px 0;
                            p{
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    h2{
        font-size: 30px !important;
    }
    h3{
        font-size: 18px !important;
    }
}
